*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/*some primary style*/
.main-title{
    font-size: 65px;
    font-weight: 700;
    padding: 10px 0px;
}
.sub-title{
    font-size: 45px;
    font-weight: 700;
    padding: 10px 0px;

}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 10px 0px;
}

button{
    font-size: 20px;
    color: #fff;
    background-color: #F15B22;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;

}




/*bannar section style*/
#hero{
    display: flex;
    justify-content: end;
    align-items: center;
    height:800px;
    background-image: url(/images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 150px;
}

.hero-info{
    width: 30%;
    text-align: right;
}

/*failures section style*/
#failures{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 50px 150px;
    display: flex;
}
#failures .failures-img{
    width: 50%;
}

.failure-info{
    width: 40%;
}

#failures li{
    list-style: none;
    padding-bottom: 10px;
}
#failures li i{
    color: #16D887;
}

/*Plan section style*/
#plan{
    padding: 0px 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.plan-info{
    display: flex;
    gap: 30px;
    padding: 20px;

}


/*pre footer style*/
#pre-footer{
    margin: 50px 150px;
}

#pre-footer .pre-footer-info-warp{
    background: linear-gradient(to left,rgba(0, 0, 0, 0), rgb(255, 123, 0)), url(/images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    border-radius: 10px;
}

#pre-footer div .pre-footer-info{
    width: 40%;
}

.pre-footer-info h2{
    color: #fff;
}

.pre-footer-info button{
    background-color: #fff;
    color: #F15B22;
}




/*footer style*/
footer{
    padding: 100px 150px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    color: #fff;
}

footer .footer-title{
    font-size: 45px;
}

footer div{
    width: 50%;
}
footer li{
    list-style: none;
    margin-bottom: 5px;
}
footer .social-icon{
    padding-top: 20px;
    display: flex;
    gap: 10px;
}

.Subscribe form input{
    border: 1px solid white;
    border-radius: 5px;
    color: #fff;
    padding: 15px 30px 15px 10px;
    background-color: transparent;
    width: 60%;
}

.Subscribe form input[type=button]{
    background-color: #fff;
    color:rgb(255, 123, 0);
    margin-top: 10px;
    font-weight: 700;
    padding: 15px 30px;
    width: 200px;
}